@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #bce3c9;
  }

  ::-webkit-scrollbar-thumb {
    background: #3bb77e;
  }

  input {
    outline: none;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="checkbox"] {
    position: relative;
    cursor: pointer;
  }

  input[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border: 1.5px solid #b6b6b6;
    border-radius: 0;
    background-color: #fff;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

  input[type="checkbox"]:checked:before {
    background-color: #3bb77e;
    border: 1.5px solid #3bb77e;
  }

  input[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
  }

  input[type="checkbox"].filter-input:checked + label {
    color: #253d4e;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
  }

  input[type="password"] {
    letter-spacing: 2px;
    vertical-align: middle;
  }

  /* input.cart_input-number:focus {
    position: relative;
    background-image: url("../../public/images/section3/input-arrows.png");
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  input.cart_input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    opacity: 1;
    background: transparent;
    border-width: 0px;
    margin: 0;
    height: 20px;
    width: 23px;
    cursor: pointer;
  }

  input.product_input-number:focus {
    position: relative;
    background-image: url("../../public/images/section3/input-arrows-large.png");
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  input.product_input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    opacity: 1;
    background: transparent;
    border-width: 0px;
    margin: 0;
    height: 40px;
    width: 25px;
    cursor: pointer;
  } */

  input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1.5px solid #b6b6b6;
    border-radius: 50%;
    outline: none;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
  }

  input[type="radio"]:before {
    content: "";
    display: block;
    width: 75%;
    height: 75%;
    margin: 12% auto;
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    border-color: #3bb77e;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
  }

  input[type="radio"]:checked:before {
    background: #3bb77e;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
  }

  input[type="radio"]:checked + label {
    color: #253d4e;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #3bb77e;
    border-radius: 50%;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #3bb77e;
    border-radius: 50%;
    cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #3bb77e;
  }

  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0 0 3px #3bb77e;
    -webkit-box-shadow: 0 0 3px #3bb77e;
    border-radius: 50%;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    width: 100%;
    position: absolute;
    background-color: #3bb77e;
    pointer-events: none;
    border-radius: 3px;
  }

  #fromSlider {
    height: 6px;
    background-color: transparent;
    z-index: 1;
  }

  input[type="search"]::-webkit-search-cancel-button {
    filter: hue-rotate(250deg);
    -webkit-filter: hue-rotate(250deg);
    cursor: pointer;
  }

  input[type="search"]:focus::-webkit-search-cancel-button {
    filter: hue-rotate(250deg);
    -webkit-filter: hue-rotate(250deg);
  }

  .menu_wrapper::-webkit-scrollbar {
    display: none;
  }

  .header_menu-button {
    position: relative;
    top: 15px;
  }

  .header_logo-svg {
    width: 160px;
  }

  .search-box_svg path {
    fill: #253d4e;
  }

  .header_menu-button,
  .header_menu-button::before,
  .header_menu-button::after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: #000000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .header_menu-button::before {
    top: 10px;
    position: absolute;
  }

  .header_menu-button::after {
    bottom: 10px;
    position: absolute;
  }

  .header_mobile-line {
    top: 75px;
  }

  .category_browser {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  /* .category_browser-wrapper:hover .category_browser-inner-wrapper {
    opacity: 1;
    visibility: visible;
    height: 508px;
  } */

  .category_browser-arrow {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  /* .category_browser-wrapper:hover .category_browser-arrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  } */

  .hero_bg {
    /* background-image: url("../../public/images/hero/3389452\ 1.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .featured-category:hover,
  .popular-product:hover,
  .popular-fruit:hover,
  .our-offer:hover {
    box-shadow: 20px 20px 40px 0px rgba(24, 24, 24, 0.07);
  }

  .product_price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .footer-banner_img {
    background-image: url("../../public/images/section7/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .deal_number-input {
    position: relative;
    background-image: url("../../public/images/section3/input-arrows.png");
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .bg-hero-pattern {
    background-image: url("../../public/images/hero/category.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .deal_number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    opacity: 1;
    background: transparent;
    border-width: 0px;
    margin: 0;
    height: 20px;
    width: 23px;
    cursor: pointer;
  }

  .dashboard-tab-active {
    background-color: #3bb77e;
    color: #fff;
    border: none;
    box-shadow: none !important;
  }

  .dashboard-tab-activate {
    color: #fff !important;
  }

  .product_tab-active {
    color: #3bb77e !important;
    box-shadow: 5px 5px 15px 0px rgba(24, 24, 24, 0.05) !important;
  }

  @media (min-width: 768px) {
    /* .product_price-input {
      position: relative;
      background-image: url("../../public/images/section3/input-arrows.png");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .product_price-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      opacity: 1;
      background: transparent;
      border-width: 0px;
      margin: 0;
      height: 20px;
      width: 23px;
      cursor: pointer;
    }

    .fruit_price-input {
      position: relative;
      background-image: url("../../public/images/section3/input-arrows.png");
      background-position: center right;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .fruit_price-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      opacity: 1;
      background: transparent;
      border-width: 0px;
      margin: 0;
      height: 20px;
      width: 23px;
      cursor: pointer;
    } */
  }

  @media (min-width: 1024px) {
    .header_menu-button {
      display: none;
    }

    .hero_bg {
      overflow: hidden;
    }

    .header_search-box {
      width: 500px;
    }

    .header_logo-svg {
      width: 232px;
    }

    .search-box_svg path {
      fill: #7e7e7e;
    }

    .header_mobile-line {
      top: 111px;
    }

    .category_browser-wrapper:hover .category_browser-inner-wrapper {
      height: 407px;
    }
  }

  @media (min-width: 1280px) {
    .header_search-box {
      width: 700px;
    }
  }
}

/* .cover-show {
  opacity: 1 !important;
  z-index: 5 !important;
  background-color: #000000a3 !important;
} */

.popular-product:hover .product_icons-wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popular-fruit:hover .fruit_icons-wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

code {
  color: #3bb77e33;
}

.featured-categories_swiper .swiper-slide {
  display: flex !important;
}

/* 
 const borderColors = [
   "#81B13D",
   "#fdea7e",
   "#95ff95",
   "#ffa081",
   "#ffbf94",
   "#ffb6ff",
   "#bdff61",
   "#ffe869",
   "#bbff5d",
   "#ffa0ff",
 ] */
